{% extends "base.html" %}
{% block content %}
  <h2>Оберіть місто</h2>
  <form method="GET" action="{% url 'place_list' %}">
    <select name="city">
      {% for city in cities %}
        <option value="{{ city.id }}">{{ city.name }}</option>
      {% endfor %}
    </select>

    <p>Оберіть категорії (можна декілька):</p>

    <label>
      <input type="checkbox" name="category" value="cafe" checked>
      Кафе
    </label><br>
    <label>
      <input type="checkbox" name="category" value="restaurant">
      Ресторани
    </label><br>
    <label>
      <input type="checkbox" name="category" value="museum">
      Музеї
    </label><br>
    <label>
      <input type="checkbox" name="category" value="bar">
      Бари
    </label><br>
    <label>
      <input type="checkbox" name="category" value="park">
      Парки
    </label><br>
    <label>
      <input type="checkbox" name="category" value="landmarks">
      Пам'ятки
    </label><br>
    <label><input type="checkbox" name="category" value="fast_food"> Фастфуд</label><br>
    <label><input type="checkbox" name="category" value="nightclub"> Нічні клуби</label><br>
    <label><input type="checkbox" name="category" value="bakery"> Пекарні</label><br>
    <label><input type="checkbox" name="category" value="supermarket"> Супермаркети</label><br>
    <label><input type="checkbox" name="category" value="theatre"> Театри</label><br>
    <label><input type="checkbox" name="category" value="cinema"> Кінотеатри</label><br>
    <button type="submit">Показати заклади</button>
  </form>
{% endblock %}